package ${package}.${moduleName}.dao;

import com.github.hdy.jdbcplus.data.db.BaseDao;
import ${package}.${moduleName}.entity.${className};
import org.springframework.stereotype.Repository;

/**
 * ${comments}
 *
 * @author ${author}
 * @date ${datetime}
 */
@Repository
public class ${className}Dao extends BaseDao<${className}, #foreach($column in $columns)#if($column.columnName == $pk.columnName)$column.attrType#end#end> {
}
