package ${package}.${moduleName}.service;

import ${package}.${moduleName}.dao.${className}Dao;
import ${package}.${moduleName}.entity.${className};
import com.github.hdy.common.result.Results;
import com.github.hdy.common.util.Strings;
import org.springframework.beans.factory.annotation.Autowired;
import org.springframework.stereotype.Service;

/**
 * ${comments}
 *
 * @author ${author}
 * @date ${datetime}
 */
@Service
public class ${className}Service {

    @Autowired
    private ${className}Dao ${className}Dao;

    public Results page(${className} ${classname}) {
        return Results.success(${className}Dao.page(${classname}));
    }

    public Results save(${className} ${classname}) {
        if (Strings.isNull(${classname}.getId())){
            ${classname} =${className}Dao.insert(${classname});
        } else {
            ${classname} =${className}Dao.update(${classname});
        }
        if (${classname} ==null)
            return Results.fail();
        return Results.success();
    }

    public Results delete(${className} ${classname}) {
        if (Strings.isNull(${classname}.getId()))
            return Results.fail("参数缺失");
        int k = ${className}Dao.delete(${classname}.getId());
        if (k > 0)
            return Results.success();
        return Results.fail();
    }

}
